In [161]:
import pandas as pd
import math
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [162]:
df = pd.read_csv('../data/train_with_feautures.csv')
df['ratio'] = np.exp(df['logerror'])
df

,Unnamed: 0,parcelid,logerror,transactiondate_new,year,month,census_tract,airconditioningtypeid,bathroomcnt,bedroomcnt,...,taxamount,censustractandblock,state,total,White_Percentage,Black_Percentage,h_l_Percentage,not_h_l_Percentage,Asian_Percentage,ratio
0,0,11016594,0.028,2016-01-01,2016,1,6037106646.000,1.000,2.000,3.000,...,6735.880,60371066461001.000,6.000,3367.000,0.399,0.029,0.329,0.671,0.206,1.028
1,1,14366692,-0.168,2016-01-01,2016,1,6059052422.000,NaN,3.500,4.000,...,10153.020,NaN,6.000,11557.000,0.431,0.021,0.154,0.846,0.330,0.845
2,2,12098116,-0.004,2016-01-01,2016,1,6037463800.000,1.000,3.000,2.000,...,11484.480,60374638003004.000,6.000,3953.000,0.596,0.027,0.153,0.847,0.156,0.996
3,3,12643413,0.022,2016-01-02,2016,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.022
4,4,14432541,-0.005,2016-01-02,2016,1,6059042338.000,NaN,2.500,4.000,...,5488.960,60590423381006.000,6.000,4474.000,0.755,0.009,0.130,0.870,0.046,0.995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143656,143656,12945108,0.030,2017-06-30,2017,6,6037406701.000,1.000,2.000,3.000,...,3519.780,60374067011003.000,6.000,3112.000,0.085,0.044,0.606,0.394,0.241,1.031
143657,143657,14214719,-0.018,2017-06-30,2017,6,6059075814.000,NaN,3.000,5.000,...,8065.500,60590758141002.000,6.000,3055.000,0.524,0.007,0.124,0.876,0.285,0.982
143658,143658,11464823,0.137,2017-06-30,2017,6,6037278102.000,NaN,3.000,4.000,...,6996.210,60372781021007.000,6.000,2958.000,0.706,0.034,0.122,0.878,0.059,1.146
143659,143659,11534364,-0.032,2017-06-30,2017,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.969
143660,143660,12942897,-0.038,2017-06-30,2017,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.962

In [163]:
df[['year', 'month', 'logerror','ratio', 'White_Percentage','Black_Percentage','h_l_Percentage','not_h_l_Percentage','Asian_Percentage']]

,year,month,logerror,ratio,White_Percentage,Black_Percentage,h_l_Percentage,not_h_l_Percentage,Asian_Percentage
0,2016,1,0.028,1.028,0.399,0.029,0.329,0.671,0.206
1,2016,1,-0.168,0.845,0.431,0.021,0.154,0.846,0.330
2,2016,1,-0.004,0.996,0.596,0.027,0.153,0.847,0.156
3,2016,1,0.022,1.022,NaN,NaN,NaN,NaN,NaN
4,2016,1,-0.005,0.995,0.755,0.009,0.130,0.870,0.046
...,...,...,...,...,...,...,...,...,...
143656,2017,6,0.030,1.031,0.085,0.044,0.606,0.394,0.241
143657,2017,6,-0.018,0.982,0.524,0.007,0.124,0.876,0.285
143658,2017,6,0.137,1.146,0.706,0.034,0.122,0.878,0.059
143659,2017,6,-0.032,0.969,NaN,NaN,NaN,NaN,NaN
143660,2017,6,-0.038,0.962,NaN,NaN,NaN,NaN,NaN

In [164]:
ppe5_lower = math.log(95/100)
ppe5_uppr = math.log(105/100)

ppe10_lower = math.log(90/100)
ppe10_uppr = math.log(110/100)

ppe20_lower = math.log(80/100)
ppe20_uppr = math.log(120/100)

In [165]:
df['ppe5']  = (df.logerror >= ppe5_lower ) & ( df.logerror <= ppe5_uppr)
df['ppe10'] = (df.logerror >= ppe10_lower ) & ( df.logerror <= ppe10_uppr)
df['ppe20'] = (df.logerror >= ppe20_lower ) & ( df.logerror <= ppe20_uppr)
df['over'] = df.logerror > 0.0
df['under'] = df.logerror < 0.0

In [166]:
df

,Unnamed: 0,parcelid,logerror,transactiondate_new,year,month,census_tract,airconditioningtypeid,bathroomcnt,bedroomcnt,...,Black_Percentage,h_l_Percentage,not_h_l_Percentage,Asian_Percentage,ratio,ppe5,ppe10,ppe20,over,under
0,0,11016594,0.028,2016-01-01,2016,1,6037106646.000,1.000,2.000,3.000,...,0.029,0.329,0.671,0.206,1.028,True,True,True,True,False
1,1,14366692,-0.168,2016-01-01,2016,1,6059052422.000,NaN,3.500,4.000,...,0.021,0.154,0.846,0.330,0.845,False,False,True,False,True
2,2,12098116,-0.004,2016-01-01,2016,1,6037463800.000,1.000,3.000,2.000,...,0.027,0.153,0.847,0.156,0.996,True,True,True,False,True
3,3,12643413,0.022,2016-01-02,2016,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.022,True,True,True,True,False
4,4,14432541,-0.005,2016-01-02,2016,1,6059042338.000,NaN,2.500,4.000,...,0.009,0.130,0.870,0.046,0.995,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143656,143656,12945108,0.030,2017-06-30,2017,6,6037406701.000,1.000,2.000,3.000,...,0.044,0.606,0.394,0.241,1.031,True,True,True,True,False
143657,143657,14214719,-0.018,2017-06-30,2017,6,6059075814.000,NaN,3.000,5.000,...,0.007,0.124,0.876,0.285,0.982,True,True,True,False,True
143658,143658,11464823,0.137,2017-06-30,2017,6,6037278102.000,NaN,3.000,4.000,...,0.034,0.122,0.878,0.059,1.146,False,False,True,True,False
143659,143659,11534364,-0.032,2017-06-30,2017,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.969,True,True,True,False,True
143660,143660,12942897,-0.038,2017-06-30,2017,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.962,True,True,True,False,True

# Overall Results

In [167]:
df[['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror', 'ratio']].mean()

ppe5       0.647
ppe10      0.835
ppe20      0.934
over       0.551
under      0.443
logerror   0.013
ratio      1.035
dtype: float64

# By Year

In [168]:
df.groupby('year')[['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror', 'ratio']].mean().T

year      2016  2017
ppe5     0.645 0.650
ppe10    0.837 0.832
ppe20    0.935 0.931
over     0.551 0.552
under    0.439 0.448
logerror 0.011 0.015
ratio    1.033 1.039

# By Census Tract

In [174]:
keep_ids = [x for x,y in df.census_tract.value_counts().items() if y >= 50]
df[df['census_tract'].isin(keep_ids)].groupby('census_tract')[['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror', 'ratio']].mean()['under'].max()

0.6981132075471698

# By Majority White

In [128]:
df_white = df[df.White_Percentage >= .5][['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror', 'ratio']].mean()
df_white = pd.DataFrame(df_white)
df_white.columns = ['> 50% White']
df_white

          > 50% White
ppe5            0.632
ppe10           0.830
ppe20           0.934
over            0.571
under           0.423
logerror        0.013
ratio           1.042

In [129]:
df[df.White_Percentage < .5][['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror', 'ratio']].mean()

ppe5       0.642
ppe10      0.829
ppe20      0.927
over       0.533
under      0.461
logerror   0.015
ratio      1.033
dtype: float64

# By Majority Black

In [146]:
df_black = df[df.Black_Percentage >= .5][['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror', 'ratio']].mean()
df_black = pd.DataFrame(df_black)
df_black.columns = ['> 50% Black']
df_black

          > 50% Black
ppe5            0.543
ppe10           0.773
ppe20           0.909
over            0.438
under           0.557
logerror        0.008
ratio           1.063

In [147]:
df[df.Black_Percentage < .5][['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror', 'ratio']].mean()

ppe5       0.639
ppe10      0.830
ppe20      0.930
over       0.550
under      0.444
logerror   0.014
ratio      1.037
dtype: float64

# By Majority Hispanic/Latino

In [148]:
df_h_l = df[df.h_l_Percentage >= .5][['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror','ratio']].mean()
df_h_l = pd.DataFrame(df_h_l)
df_h_l.columns = ['> 50% H/L']
df_h_l

          > 50% H/L
ppe5          0.616
ppe10         0.806
ppe20         0.911
over          0.522
under         0.473
logerror      0.015
ratio         1.033

In [149]:
df[df.h_l_Percentage < .5][['ppe5', 'ppe10', 'ppe20', 'over', 'under', 'logerror']].mean()

ppe5       0.646
ppe10      0.838
ppe20      0.937
over       0.558
under      0.436
logerror   0.013
dtype: float64

# Performance Across Ethnicities

In [176]:
df_performance = df_white.join(df_black.join(df_h_l))
df_performance['Percent_Diff_Black_White'] = (df_performance['> 50% Black'] - df_performance['> 50% White'])*100
df_performance['Percent_Diff_H/L_White']   = (df_performance['> 50% H/L'] - df_performance['> 50% White'])*100

df_performance['Percent_Diff_H/L_White'] = round(df_performance['Percent_Diff_H/L_White'], 4).astype(str) + '%'
df_performance['Percent_Diff_Black_White'] = round(df_performance['Percent_Diff_Black_White'], 4).astype(str) + '%'
df_performance

,> 50% White,> 50% Black,> 50% H/L,Percent_Diff_Black_White,Percent_Diff_H/L_White
ppe5,0.632,0.543,0.616,-8.8577%,-1.5513%
ppe10,0.830,0.773,0.806,-5.7168%,-2.3832%
ppe20,0.934,0.909,0.911,-2.4825%,-2.3603%
over,0.571,0.438,0.522,-13.3152%,-4.9439%
under,0.423,0.557,0.473,13.3664%,4.9673%
logerror,0.013,0.008,0.015,-0.4893%,0.2442%
ratio,1.042,1.063,1.033,2.078%,-0.8713%

# SMD

In [83]:
black_mu = df[df.Black_Percentage >= .5].logerror.mean()
white_mu = df[df.White_Percentage >= .5].logerror.mean()
std = df.logerror.std()

In [84]:
SMD_Black = 100*(black_mu-white_mu)/std

In [85]:
SMD_h_l = 100*(hl_mu-white_mu)/std

In [86]:
print("SMD for Black Census Tracts: ", SMD_Black)

SMD for Black Census Tracts:  -3.0109047236326667

In [87]:
print("SMD for Hispanic/Lation Census Tracts: ", SMD_h_l)

SMD for Hispanic/Lation Census Tracts:  1.5025638184761478